h1.nav_content{
    color: red;
    font-size: 3rem;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    box-shadow: 0 1rem 1rem rgb(222, 217, 217);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul{
    display: flex;
    gap: 1rem;
}